<html lang="" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 0.5rem;
        }

    </style>
    <title>Todo list</title>
</head>
<body>

<h3><a href="/get-lists" style="text-decoration:none">Back to main page</a></h3>

<h3>Add new todo item</h3>
<form th:object="${itemToAdd}" method="POST" action="/add-item">
    <p>Name: <label>
        <input type="text" th:field="*{name}"/>
    </label></p>
    <input type="hidden" th:field="*{listId}"/>
    <p><input type="submit" value="Add"/></p>
</form>

<h3>Change todo item</h3>
<form th:object="${itemToChange}" method="POST" action="/change-item">
    <p>Id: <label>
        <input type="number" th:field="*{id}"/>
    </label></p>
    <p>Status: <label>
        <input type="text" th:field="*{status}"/>
    </label></p>
    <input type="hidden" th:field="*{listId}"/>
    <p><input type="submit" value="Change"/></p>
</form>

<h3>Remove todo item</h3>
<form th:object="${itemToRemove}" method="POST" action="/remove-item">
    <p>Id: <label>
        <input type="text" th:field="*{id}"/>
    </label></p>
    <input type="hidden" th:field="*{listId}"/>
    <p><input type="submit" value="Remove"/></p>
</form>

<p>
    <strong th:text="${list.getFirst().getId()}"></strong>.
    <strong th:text="${list.getFirst().getName()}"></strong>
</p>
<table style="border: 1px solid black;">
    <th:block th:each="item: ${list.getSecond()}">
        <tr>
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getStatus()}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>